  <main id="home">
    <h1 class="lg-heading">
      Abdul Wahid
      <span class="text-secondary">Hashoory</span>
    </h1>
    <h2 class="sm-heading">
      Web Developer
    </h2>
    <div class="icons">
      <a href="https://twitter.com/wahidhashoory">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="https://www.facebook.com/whashoory">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/abbdul-wahid-hashoory-07a423180/">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/abdulw786">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
  </main>

  <script src="../public/assets/js/main.js"></script>
